.top-bar {
  height: 90px;
  background-color: $color-oscuro;

  .ui.grid {
    margin: 0;
    padding: 0;

    .column {
      padding: 0;
    }
  }

  &__left {
    display: flex !important;
    align-items: center;

    img {
      height: 50px;
      transition: 0.5s all;

      &:hover {
        transform: translateX(-15px);
      }
    }
  }

  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    .ui.input {
      align-items: center;

      input {
        border: 0;
        width: 220px;
        padding: 5px 0;
        font-size: 16px;
        border-radius: 0;
        transition: width 0.7s;
        color: $color-primario !important;
        border-bottom: 2px solid $color-primario;
        background-color: transparent !important;

        &::placeholder {
          color: $color-blanco;
          opacity: 0.5;
        }

        &:focus {
          width: 350px;
        }

        &:focus::placeholder {
          opacity: 1;
        }
      }

      i {
        color: $color-primario;
        font-size: 20px;
      }
    }
  }
}
